body {
	background-image: url(../images/bg.png);
	color: white;
	font-family: Arial, sans-serif;
	font-size: 13px;
	box-sizing: border-box;
}

.wrapper {
	max-width: 971px;
	min-width: 366px;
	margin: auto;
}

header {
    background: #0081C6;
}

.top {
	max-height: 119px;
	padding: 25px 5px;
}

.logo1 {
	float: left;
	width: 303px;
	height: 72px;
}

.logo2 {
	float: left;
	display: none;
}

.text {
	float: left;
	padding: 10px 25px;
}

.line1 {
	font-size: 15px;
	font-weight: bold;
}

.line2 {
	padding-top: 10px;
}

.contact {
	float: right;
	text-align: center;
}

.city {
	font-size: 15px;
	font-weight: bold;
}

.phone {
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 5px;
}

.phone-code {
	color: #ff6347;
}

.button {
	background: #3c3c3c;
	width: 159px;
	//height: 25px;
	border-radius: 6px;
	cursor: pointer;
	clear: both;
	display: inline-block;
}

.button a {
	text-decoration: none;
	color: white;
	line-height: 25px;
	font-weight: bold;
	display: block;
	width: 159px;
	height: 25px;
	border-radius: 6px;
}

.button a:hover {
	background: #57c0ff;
	text-decoration: none;
	color: white;
	
}

.menu {
	height: 49px;
	background: #00008B;
	padding: 0;
	list-style: none;
	text-align: center;
	font-weight: bold;
}

.item {
	display: block;
	float: left;
	padding: 0 15px;
	position: relative;
}

.item:hover {
	background: #0081C6;
	transition: all .2s;
}

.item a {
	display: block;
	text-decoration: none;
	color: white;	
	line-height: 49px;
	cursor: default;
}

.submenu1 {
	position: absolute;
	list-style: none;
	text-align: left;
	left: -40px;
	display: none;
}

.submenu1 .item {	
	display: block;
	float: none;
	padding: 0 15px;
	background: #00008B;
}

.submenu1 .item:hover {
	background: #0081C6;
	transition: all .2s;
}

.item:hover .submenu1 {
	display: block;
	transition: all .2s;
}

.submenu2 .item {	
	display: block;
	float: none;
	padding: 0 15px;
	background: #00008B;
}

.submenu2a {
	position: absolute;
	list-style: none;
	text-align: left;
	top: 0;
	left: 205px;
	display: none;
}

.submenu2b {
	position: absolute;
	list-style: none;
	text-align: left;
	top: 0;
	left: 270px;
	display: none;
}

.submenu2 .item:hover {
	background: #0081C6;
	transition: all .2s;
}

.submenu1 .item:hover .submenu2 {
	display: block;
	transition: all .2s;
}




@media screen and (max-width: 768px) {
  .top {
    padding: 0;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline-block;
	max-height: 119px;
  }
  .contact {
    margin: 25px 0 0 0;
	padding: 0 5px 0 5px;
    float: right;
    display: inline-block;
  }
  .menu {
	min-height: 49px;
  }
  .item {
	display: block;
	float: none;
	background: #00008B;
	position: relative;
	text-align: left;
	clear: both;
	width: 100%;
  }
  .submenu1 {
	position: relative;
	display: none;
	width: auto;
  }
  .submenu1 .item {	
	border: 1px solid white;
	position: relative;
	display: block;
	background: #00008B;
	width: 100%;
	margin-bottom: -1px;
  }
  .item:hover .submenu1 {
	display: block;
	width: 100%;
	position: relative;
	transition: all .2s;
  }
  .submenu2 {
	position: relative;
	display: none;
	width: auto;
	width: 100%;
  }
  .submenu2 .item {	
	position: relative;
	display: block;
	background: #00008B;
	width: 100%;
	z-index: 1;
  }
  .submenu2a {
	list-style: none;
	text-align: left;
	top: 0;
	left: 0;
	display: none;
  }
  .submenu2b {
	list-style: none;
	text-align: left;
	top: 0;
	left: 0;
	display: none;
  }
  .submenu1 .item:hover .submenu2 {
	display: block;
	width: 100%;	
	position: relative;
	transition: all .2s;
  }
}